---
layout: base.njk
lang: he
dir: rtl
ogLocale: he_IL
title: "{{ i18n.he.meta.homeTitle }}"
description: "{{ i18n.he.meta.homeDescription }}"
permalink: /he/
alternates:
  en: /
  ru: /ru/
  he: /he/
---
{% include "home-body.njk" %}
