---
layout: base.njk
lang: en
dir: ltr
ogLocale: en_US
title: "{{ i18n.en.meta.homeTitle }}"
description: "{{ i18n.en.meta.homeDescription }}"
permalink: /
alternates:
  en: /
  ru: /ru/
  he: /he/
---
{% include "home-body.njk" %}
